.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000052;
}

/*PANELS*/

.twits {
  text-align: center;
}
/*MAIN BODY*/
.panelBlack {
    height: 250px;
    background-color: #0041C2;
    color: white;
    border: 10px solid white;
}

.panelBlue {
    height: 250px;
    line-height: 200px;
    background-color: #15317E;
    color: white;
    border: 10px solid white;
    vertical-align: middle;
}
.panelGreen {
    height: 250px;
    background-color: #2B547E;
    color: white;
    border: 10px solid white;
}
.panelShiny {
    height: 250px;
    background-color: #1F45FC;
    color: white;
    border: 10px solid white;
}

/*CUSTOMIZE THE BUTTON*/
.btn-group {
  padding-bottom: 10px;
}
.btn-default {
  border-color: white;
}
/*Check this example and see how you can customize a button*/
.btn-custom {
  background-color: hsl(193, 32%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a0c4ce", endColorstr="#26424a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a0c4ce), to(#26424a));
  background-image: -moz-linear-gradient(top, #a0c4ce, #26424a);
  background-image: -ms-linear-gradient(top, #a0c4ce, #26424a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0c4ce), color-stop(100%, #26424a));
  background-image: -webkit-linear-gradient(top, #a0c4ce, #26424a);
  background-image: -o-linear-gradient(top, #a0c4ce, #26424a);
  background-image: linear-gradient(#a0c4ce, #26424a);
  border-color: #26424a #26424a hsl(193, 32%, 9.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.82);
  -webkit-font-smoothing: antialiased;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
